@media screen and (max-width: 1400px) {
    #profile {
        height: 100vh;
        margin-bottom: 6rem;
        background-image: url(./assets/mehdi_beeg\ phone.png);
        justify-content: center;
        /* background-position: center; */
        padding-right: 0px;
    }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  #footer{

      display:none;
  }
  .bottom-nav{
    display:none;
  }
  .project-img-container:focus-visible .gif {
    opacity: 1;
  }

  .project-img-container:focus-visible .project-img {
    opacity: 0;
  }

}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  .experience-item p{
    font-size: 15px;
  }
  .experience-item h1{
    display:none;
  }
  .experience-item{

  }
  #profile,
  .section-container {


  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }

}
